// Text box date
@mixin text-massive {
  font-size: 50px;
  line-height: (45/50);

  // Responsive type kicks in above lg
  @include bp-up(lg) {
    font-size: clamp(50px, calc(50px + 2.75vw), 100px);
  }

  body.no-cssclamp & {
    @include bp-up(lg) { font-size: 55px; }
    @include bp-up(xl) { font-size: 75px; }
    @include bp-up(xxl) { font-size: 85px; }
  }  

  @include bp-up(xxxl) {
    font-size: 100px;
    line-height: (90/100);
  }
}

// Exhibited Project - Large Caption
@mixin text-huge {
  font-size: 35px;
  line-height: 0.95;

  @include bp-up(sm) {
    font-size: 42px;
    // line-height: (33/52); // 0.64
  }

  @include bp-up(md) {
    font-size: 52px;
  }  

  @include bp-up(lg) {
    font-size: 75px;
    line-height: (70/80); // 0.875
  }    

  @include bp-up(xxxl) {
    font-size: 80px; 
  }

  // Responsive type kicks in above lg
  @include bp-up(lg) {
    font-size: clamp(52px, calc(52px + 1.55vw), 80px);
  }
}

// Header Title + .text-box-content
@mixin text-bigger {
  font-size: 27px;
  line-height: (25/27);

  @include bp-up(lg) {
    font-size: 54px;
    line-height: 0.86; // Somewhere in the middle
  }

  @include bp-up(xl) {
    font-size: 65px;
  }

  @include bp-up(xxxl) {
    font-size: 74px;
    line-height: 0.878; // (65/74);
  }

  // Responsive type kicks in above lg
  @include bp-up(lg) {
    font-size: clamp(27px, calc(27px + 2.7vw), 74px);
  }
}

// Exhibited Project - Medium Caption
@mixin text-big {
  font-size: 27px;
  line-height: (23/27);

  @include bp-up(lg) {
    line-height: 1.05; // Somewhere in the middle
  }

  @include bp-up(xxxl) {
    font-size: 46px;
    line-height: (55/46);
  }

  // Responsive type kicks in above lg
  @include bp-up(lg) {
    font-size: clamp(27px, calc(27px + 1vw), 46px);
  }
}

@mixin text-large {
  font-size: 42px;
  line-height: (50/42);
}

// Medium sized text for "small" text box
@mixin text-med-screen {
  font-size: 27px;
  line-height: 1.14;

  @include bp-up(lg) {
    font-size: 35px;
  }
}

@mixin text-title {
  @include text-bigger;

  // text-huge above lg
  @include bp-up(xxxl) {
    font-size: 80px;
    line-height: (70/80);
  }

  // Responsive type
  font-size: clamp(27px, calc(15px + 1.8vw), 33px);

  @include bp-up(lg) {
    font-size: clamp(33px, calc(18px + 2vw), 59px);
  }

  body.no-cssclamp & {
    @include bp-up(lg) { font-size: 38px; }
    @include bp-up(xl) { font-size: 45px; }
    @include bp-up(xxl) { font-size: 52px; }
    @include bp-up(xxxl) { font-size: 55px; }
  }
}

@mixin text-subtitle {
  @include text-big;

  // text-big above lg
  @include bp-down(md) {
    font-size: 15px;
    line-height: (18/15);
  }

  // Responsive type
  font-size: clamp(15px, calc(8px + 1.25vw), 20px);

  @include bp-up(lg) {
    font-size: clamp(20px, calc(12px + 1.45vw), 46px);
  }

  body.no-cssclamp & {
    @include bp-up(lg) { font-size: 27px; }
    @include bp-up(xl) { font-size: 32px; }
    @include bp-up(xxl) { font-size: 38px; }
  }  
}

// Normal on most screens
// Smaller on small screens
@mixin text-shrink {
  @include bp-down(sm) {
    font-size: 12px;
    line-height: 14px;
  }
}

@mixin text-statement {
  font-family: $font-family-tertiary;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: -0.015em;
  text-transform: none;

  @include bp-up(sm) {
    font-size: 45px;
    line-height: 1.05;
  }

  @include bp-up(md) {
    font-size: 5vw;
    letter-spacing: -0.02em;
  }

  @include bp-up(xxl) {
    font-size: 63px;
  }
}