:root {
  --background-color: #{$white};
  --text-color: #{$black};
  --link-color: #{$black};
  --unit-100vh: 100vh;
}

// Themes
body.scrolling-down {
  --background-color: #{$light-gradient-bottom};
}

body.theme-black {
  --background-color: #{$dark-gradient-top};
  --text-color: #{$red};
  --link-color: #{$red};

  &.scrolling-down {
    --background-color: #{$dark-gradient-bottom};
  }
}

body.theme-red {
  --background-color: #{$red};
}

html {
  font-size: 16px; 
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $white;
  background-color: var(--background-color);
  color: $black;
  color: var(--text-color);
  font-family: $font-family-primary;
  font-size: 1.3125rem; // 21px 
  line-height: 25/21;
  text-transform: uppercase;
}

body.overlay-open,
body.mobile-menu-open {
  overflow: hidden;
}

a {
  color: $black;
  color: var(--link-color);
  text-decoration: none;
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6  {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

main {
  min-height: 100vh; // ? @TODO - Do we need this??
  position: relative;
  z-index: $zindex-main;
}

// Text sixes
.text-massive {
  @include text-massive
}

.text-huge {
  @include text-huge;
}

.text-bigger {
  @include text-bigger;
}

.text-big {
  @include text-big;
}

.text-large {
  @include text-large;
}


