@font-face {
  font-family: 'JHA Times Now';
  src: url('/fonts/TimesNow-ExtraLight.woff2') format('woff2'),
       url('/fonts/TimesNow-ExtraLight.woff') format('woff');
  font-style: normal;
  font-weight: $font-weight-normal;
}