@font-face {
  font-family: 'Swiss 721';
  src: url('/fonts/Swiss721BT-Light.woff2') format('woff2'),
       url('/fonts/Swiss721BT-Light.woff') format('woff');
  font-style: normal;
  font-weight: $font-weight-light;
}

@font-face {
  font-family: 'Swiss 721';
  src: url('/fonts/Swiss721BT-Roman.woff2') format('woff2'),
       url('/fonts/Swiss721BT-Roman.woff') format('woff');
  font-style: normal;
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: 'Swiss 721';
  src: url('/fonts/Swiss721-Medium.woff2') format('woff2'),
       url('/fonts/Swiss721-Medium.woff') format('woff');
  font-style: normal;
  font-weight: $font-weight-medium;
}

@font-face {
  font-family: 'Swiss 721';
  src: url('/fonts/Swiss721BT-Bold.woff2') format('woff2'),
       url('/fonts/Swiss721BT-Bold.woff') format('woff');
  font-style: normal;
  font-weight: $font-weight-bold;
}