input {
  border-radius: 0;
  -webkit-border-radius: 0;

  &:focus {
    outline: none;
  }

  @include bp-down(xs) {
    font-size: 16px;
  }
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="tel"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="text"],
input[type="date"] {
  display: block;
  width: 100%;
  padding: 3px 0;
  border: 2px solid var(--text-color);
  border-width: 0 0 2px;
  background-color: transparent;
  appearance: none;

  &[disabled] {
    cursor: not-allowed;
  }
}