@import './mixins/breakpoints';
@import './mixins/text';

// For any text that needs to respond to changes in site theme
@mixin theme-text {
  color: var(--text-color);
  // transition: color 1.3s ease-in-out;
}

@mixin fill($position: absolute) {
  position: $position;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@mixin fs-height() {
  height: 100vh;
  height: var(--unit-100vh);
  transition: height 0.4s ease-out;
}