@import './mixins/breakpoints';
@import './mixins/text';

// For any text that needs to respond to changes in site theme
@mixin theme-text {
  color: var(--text-color);
  transition: color 0.05s ease-out 0.35s; // Delay is set to work with the page transition so the nav text changes color at the same time the incoming page slides up to meet it
}

@mixin fill($position: absolute) {
  position: $position;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@mixin fs-height() {
  height: 100vh;
  height: var(--unit-100vh);

  @include bp-down(md) {
    transition: height 0.4s ease-out;
  }
}