.page {
  --text-color: #{$black};
  --link-color: #{$black};
  
  margin: 0 auto;
  min-height: 100vh;
  min-height: var(--unit-100vh);
  position: relative;
  color: var(--text-color);  

  &:after {
    content: '';
    position: absolute;
    z-index: $zindex-page-bg;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $white;
    background-image: $light-gradient;
  }

  &.page--red {
    &:after {
      background-color: $red;
      background-image: none;
    }
  }

  &.page--dark {
    --text-color: #{$red};
    --link-color: #{$red};

    &:after {
      background-color: $black;
      background-image: $dark-gradient;
    }
  }
}

.page--index {
  height: 100vh;
  height: var(--unit-100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page--info {
  // padding-top: 32px;
  margin-bottom: 100px;
  align-items: flex-start;

  @include bp-down(md) {
    min-height: none; // ?
  }

  // @include bp-up(lg) {
  //   padding-top: 7.4vw;
  // }
}

// Need this element so we can fade out page contents without affecting the opacity of the page background
.page-inner {

}