// This is the core library from plyr (with a few things disabled)
@import 'plyr/plyr';

:root {
  --plyr-range-thumb-height: 15px;
  --plyr-control-spacing: 80px;
  --plyr-theme-color: var(--text-color);
  --plyr-control-icon-size: 22px;

  @include bp-up(md) {
    --plyr-control-icon-size: 26px;
    --plyr-range-thumb-height: 20px;
  }
}

// For specific routes we update the --text-color var at the body level in the DOM
body {
  --plyr-theme-color: var(--text-color); 
}

.theme--red {
  --plyr-theme-color: #{$red}; 
}

.plyr--video {
  .plyr__controls {
    padding: 10px 17px;
    border: 1px solid var(--plyr-theme-color);

    @include bp-up(md) {
      padding: 16px 21px 18px;
    }
  }

  .plyr__control {
    padding: 0;
    color: var(--plyr-theme-color); // so SVGs can pick up with currentColor

    &.plyr__tab-focus,
    &:hover,
    &[aria-expanded='true'] {
      background: none; // Hide the background that shows on the control icon when hovering
      color: var(--plyr-theme-color);
    }
  }  
}

.plyr__progress__buffer {
  display: none;
}


// Hide the track
// Need to check this on other browsers
.plyr--full-ui.plyr--video input[type='range'] {

  &::-webkit-slider-runnable-track {
    background-color: var(--plyr-theme-color);
    background-image: none;
    height: 1px;
  }

  &::-webkit-slider-thumb {
    box-shadow: none;
    background-color: var(--plyr-theme-color);
    cursor: grab;
    top: -2px;
  }

  &:active::-webkit-slider-thumb {
    box-shadow: none;
    cursor: grabbing;
  }

  // Mozilla
  &::-moz-range-track,
  &::-moz-range-progress {
    background-color: var(--plyr-theme-color);
    background-image: none;
    height: 1px;
  }

  &::-moz-range-thumb {
    box-shadow: none;
    background-color: var(--plyr-theme-color);
    cursor: grab;
  }

  &:active::-moz-range-thumb {
    box-shadow: none;
    cursor: grabbing;
  }  

  // // Microsoft
  // &::-ms-track {
  //   display: none;
  // }

  // &::-ms-fill-upper {
  //   display: none;
  // }

  // &::-ms-fill-lower {
  //   display: none;
  // }

  // &::-ms-thumb {
  //   display: none;
  // }
}

// This is fine because we only use the mute button, not the volume slider
// Might need to adjust if we change this behavior in this future
.plyr__volume {
  width: auto;
  min-width: 0;
}

.plyr__controls .plyr__controls__item.plyr__progress__container {
  padding-left: 0;
}