// This is the core library from plyr (with a few things disabled)
@import 'plyr/plyr';

:root {
  --plyr-range-thumb-height: 15px;
  --plyr-control-spacing: 80px;
}

.plyr--video {
  .plyr__controls {
    padding: 10px 17px;
    border: 1px solid var(--text-color);

    @include bp-up(md) {
      padding: 23px 30px 22px;
    }
  }

  .plyr__control {
    padding: 0;
    color: var(--text-color); // so SVGs can pick up with currentColor

    &.plyr__tab-focus,
    &:hover,
    &[aria-expanded='true'] {
      background: none; // Hide the background that shows on the control icon when hovering
      color: var(--text-color);
    }
  }  
}

.plyr__progress__buffer {
  display: none;
}


// Hide the track
// Need to check this on other browsers
.plyr--full-ui.plyr--video input[type='range'] {

  &::-webkit-slider-runnable-track {
    background-color: var(--text-color);
    background-image: none;
    height: 1px;
  }

  &::-webkit-slider-thumb {
    box-shadow: none;
    background-color: var(--text-color);
    cursor: grab;
    top: -2px;
  }

  &:active::-webkit-slider-thumb {
    box-shadow: none;
    cursor: grabbing;
  }

  // Mozilla
  &::-moz-range-track,
  &::-moz-range-progress {
    background-color: var(--text-color);
    background-image: none;
    height: 1px;
  }

  &::-moz-range-thumb {
    box-shadow: none;
    background-color: var(--text-color);
    cursor: grab;
  }

  &:active::-moz-range-thumb {
    box-shadow: none;
    cursor: grabbing;
  }  

  // // Microsoft
  // &::-ms-track {
  //   display: none;
  // }

  // &::-ms-fill-upper {
  //   display: none;
  // }

  // &::-ms-fill-lower {
  //   display: none;
  // }

  // &::-ms-thumb {
  //   display: none;
  // }
}