$black:       #000;
$off-black:   #101010;
$darker-grey: #2B2B2B;
$dark-grey:   #393939;
$light-grey:  #D8D8D8;
$off-white:   #E7E7E7;
$white:       #FFF;

$red:        #FD5858;

$dark-gradient-top:     $dark-grey;
$dark-gradient-bottom:  $black;

$light-gradient-top:    $white;
$light-gradient-bottom: $light-grey;

$dark-gradient:  linear-gradient(0deg, $dark-gradient-bottom, $dark-gradient-top);
$light-gradient: linear-gradient(0deg, $light-gradient-bottom, $light-gradient-top);
$red-gradient:   linear-gradient(0deg, $red, $red);

$font-family-primary:   'Helvetica', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-family-tertiary:  'JHA Times Now', serif;

$font-size-base: 1.3125rem; // 21px @ 16px root
$line-height-base: (25/21);

// $font-size-huge:   80px;
// $font-size-bigger: 74px;
// $font-size-big:    46px;
// $font-size-large:  42px;

$font-weight-light:  100;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold:   700;

$zindex-background:   -101;
$zindex-page-bg:      -100;
$zindex-accent-bg:    -99;
$zindex-page-title:   -1;
$zindex-main:         auto; // 1;
$zindex-footer:       10;
$zindex-header:       10;
$zindex-link-preview: 20;
$zindex-mobile-menu:  50;
$zindex-overlay:      100;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1480px,
  xxxl: 1800px
);

$container-max-width: 1920px;

$easing-ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$easing-ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
$easing-ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

$preview-highlight-transition-duration-in: 0.5s;
$preview-highlight-transition-duration-out: 0.2s;
$preview-highlight-easing-in: cubic-bezier(0.18, 0.51, 0.08, 0.9);
$preview-highlight-easing-out: cubic-bezier(0.17, 0.36, 0.77, 0.56);

