$black:     #000;
$off-white: #E1E1E1;
$white:     #FFF;

$red:       #FD5858;

$font-family-primary:   'Swiss 721', 'Helvetica', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

// $font-size-huge:   80px;
// $font-size-bigger: 74px;
// $font-size-big:    46px;
// $font-size-large:  42px;

$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold:   700;

$zindex-header: 10;
$zindex-mobile-menu: 50;
$zindex-overlay: 100;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1480px
);

$container-max-width: 1920px;