$black:      #000;
$off-black:  #101010;
$dark-grey:  #393939;
$light-grey: #D8D8D8;
$off-white:  #E1E1E1;
$white:      #FFF;

$red:        #FD5858;

$dark-gradient-top:     $dark-grey;
$dark-gradient-bottom:  $black;

$light-gradient-top:    $white;
$light-gradient-bottom: $light-grey;

$font-family-primary:   'Swiss 721', 'Helvetica', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

// $font-size-huge:   80px;
// $font-size-bigger: 74px;
// $font-size-big:    46px;
// $font-size-large:  42px;

$font-weight-light:  100;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold:   700;

$zindex-background:  -100;
$zindex-accent-bg:   -99;
$zindex-page-title:  -1;
$zindex-main:        auto; // 1;
$zindex-header:      10;
$zindex-mobile-menu: 50;
$zindex-overlay:     100;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1480px,
  xxxl: 1800px
);

$container-max-width: 1920px;

$easing-ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$easing-ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
$easing-ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);