@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'base';
@import 'transitions';

.container {
  width: 100%;
  padding: 0 20px;

  @media (min-width: 1000px) {
    padding: 0 50px;
  }
}

// Is there an easier way to do this without a container AND row AND column
.row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;

  @media (min-width: 1000px) {
    margin-left: -25px;
    margin-right: -25px;
  }
}

.primary-column,
.secondary-column {
  width: 100%;
  padding: 0 10px;
  flex-basis: 0;
  flex-grow: 1;

  @media (min-width: 1000px) {
    padding: 0 25px;
  }
}

@media (min-width: 1000px) {
  .primary-column {
    flex: 0 0 60%;
    max-width: 60%;
    width: 60%;
  }
  .secondary-column {
    flex: 0 0 40%;
    max-width: 40%;
    width: 40%;
  }  
}
